In [1]:
import pandas as pd

In [2]:
# Read movies from dataset into a pandas dataframe. How many movies are in this dataset?
movies_dataframe = pd.read_json("https://raw.githubusercontent.com/vega/vega-datasets/master/data/movies.json")
len(movies_dataframe)

3201

There are 3201 movies in this dataset.

In [3]:
# Drop all columns except 'Title', 'US Gross', 'Worldwide Gross', ‘US DVD Sales’, 'Production Budget', and ’IMDB Rating'. 
movies_dataframe = movies_dataframe[["Title", "US Gross", "Worldwide Gross", "US DVD Sales", "Production Budget", "IMDB Rating"]]
movies_dataframe

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,IMDB Rating
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,6.1
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,6.9
2,I Married a Strange Person,203134.0,203134.0,NaN,250000.0,6.8
3,Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,NaN
4,Slam,1009819.0,1087521.0,NaN,1000000.0,3.4
...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765.0,36851125.0,21240321.0,24000000.0,7.0
3197,Zodiac,33080084.0,83080084.0,20983030.0,85000000.0,NaN
3198,Zoom,11989328.0,12506188.0,6679409.0,35000000.0,3.4
3199,The Legend of Zorro,45575336.0,141475336.0,NaN,80000000.0,5.7
3200,The Mask of Zorro,93828745.0,233700000.0,NaN,65000000.0,6.7

In [4]:
# Set 'Title' as the index of your dataframe.
movies_dataframe.set_index("Title")

,US Gross,Worldwide Gross,US DVD Sales,Production Budget,IMDB Rating
Title,,,,,
The Land Girls,146083.0,146083.0,NaN,8000000.0,6.1
"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,6.9
I Married a Strange Person,203134.0,203134.0,NaN,250000.0,6.8
Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,NaN
Slam,1009819.0,1087521.0,NaN,1000000.0,3.4
...,...,...,...,...,...
Zack and Miri Make a Porno,31452765.0,36851125.0,21240321.0,24000000.0,7.0
Zodiac,33080084.0,83080084.0,20983030.0,85000000.0,NaN
Zoom,11989328.0,12506188.0,6679409.0,35000000.0,3.4
The Legend of Zorro,45575336.0,141475336.0,NaN,80000000.0,5.7
The Mask of Zorro,93828745.0,233700000.0,NaN,65000000.0,6.7

In [6]:
# Assume return on investment (ROI) for a movie is defined as:
# 𝑅𝑂𝐼 = 𝑊𝑜𝑟𝑙𝑑𝑤𝑖𝑑𝑒 𝑔𝑟𝑜𝑠𝑠 − 𝑃𝑟𝑜𝑑𝑢𝑐𝑡𝑖𝑜𝑛 𝑏𝑢𝑑𝑔𝑒𝑡
# What is the mean ROI? Which movie has the maximum ROI? Is it the one with the minimum production budget?

In [ ]:
# What is the ROI of the movie with the maximum US DVD sales?
# Is it in the top 25% movies in terms of ROI? Is it in the bottom 25% movies in terms of production budget?

In [ ]:

# What is the median difference between worldwide gross and US gross? Which movie has the highest difference?

In [ ]:
# Do a majority of the movies have IMDB ratings higher than the average? Justify your answer.